h1 {width:99%;min-width:240px;}
#visuals {
  float:left;
  height:100%;
  width:100%;
}
#postFormulas {
  margin: 0;
  padding: 0;
  text-align: right;
  float: left;
  height: 7.9em;
  min-width: 18em;
  width: 81%;
  border: solid 2px;
}
#postResults {
  margin: 0;
  padding: 0;
  text-align: right;
  float: left;
  height: 7.9em;
  min-width: 11em;
  width: 18%;
  border: solid 2px;
}
#keypad {
  float:left;
  min-width:240px;
}
.button-override {
  font-family: Courier New, Fixed, monospace;
  min-width: 5em;
  padding: 0px;
}
button#help, button#back {
  float:right;
}
#formula {
  font-family: Courier New, Fixed, monospace;
  margin: 0;
  padding: 0.1em;
  font-size:1.25em;
  max-width:14em;
}

.list_e { background-color:#f2fcf2; padding:0.125em 0.25em; margin:0; }

.list_o { background-color:#e0e0e0; padding:0.125em 0.25em; margin:0; }

#version { background-color:#e2ece2; font-size:medium; padding:0.25em; border-radius:4px;}
#minmax { float:right;background-color:#f2fcf2; font-size:medium; }

